<h1>{{this.payload.product.nombre}}</h1>
<p>{{this.payload.product.descripcion}}</p>
<div><b>Precio: </b> ${{this.payload.product.precio}}</div>
<div>
    <b>Quedan:</b> ${{this.payload.product.stock}} unidades disponibles
</div>
    <button>Comprar</button>